.document-block {
  border: 2px solid black;
  margin: 5px;
  padding: 8px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  height: 2em;
  align-items: center;
}

.document-id-block {
  flex: 0.5;
}

.document-name-block {
  flex: 1;
}

.document-version-block {
  flex: 0.1;
}

.document-description-block {
  flex: 2;
  white-space: nowrap;
  overflow: scroll;
}

.document-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
