@use "styles/colors" as clr;

.clickable-row {
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  margin-left: 1em;
  margin-right: 1em;
  background-color: clr.$dark-primary;
  display: flex;
  flex-direction: row;
  height: 2em;
  align-items: center;
  transition: 200ms;

  &:hover {
    cursor: pointer;
    transition: 200ms;
    background-color: clr.$dark-primary-highlighted;
  }
}
