@use "styles/colors" as clr;

.document-block-item {
  border-radius: 5px;
  margin: 5px;
  padding: 8px;
  background-color: clr.$dark-primary;
  display: flex;
  flex-direction: row;
  height: 2em;
  align-items: center;
}
