@use "styles/colors" as clr;

.heading {
  display: flex;
  align-items: center;
  font-size: x-large;
  height: 2em;
}

.heading-box {
  position: absolute;
  transform: translate(-50%, 0);
  top: 0;
  left: 50%;
  width: 5em;
  background-color: clr.$dark-primary;
  padding: 5px;
  margin: 7px;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
}

.heading-box:hover {
  transition: 200ms;
  background-color: clr.$dark-primary-highlighted;
}

.leftheading {
  color: blue;
}

.rightheading {
  color: rgb(18, 41, 83);
}
