@use "styles/colors" as clr;

.copy-icon {
  border-radius: 5px;
  padding: 6px;
  width: 1.4em;
  transition: 500ms;

  &:hover {
    transition: 500ms;
    background-color: clr.$dark-accent;
  }

  &:active {
    transition: 50ms;
    background-color: clr.$dark-accent;
    height: 1em;
    padding: calc(6px + 0.1em);
  }
}
