@use "styles/colors" as clr;

.row-section {
  padding: 7px;
  margin: 7px;
  white-space: "nowrap";
  overflow: "scroll";
  color: clr.$dark-text;
}

.row-section-inverted {
  padding: 7px;
  margin: 7px;
  white-space: "nowrap";
  overflow: "scroll";
  color: clr.$dark-text-inverted;
}

.row-section-inactive {
  padding: 7px;
  margin: 7px;
  white-space: "nowrap";
  overflow: "scroll";
  color: clr.$dark-text-inactive;
}
