// Dark theme

$dark-background: #232438;
$dark-text: #000000;
$dark-text-inactive: #565656;
$dark-primary: #9194d6;
$dark-primary-highlighted: #6f73c6;
$dark-secondary: #363a8e;
$dark-accent: #80ce4a;

// Light theme, not used yet

$light-background: #c7c8dc;
$light-primary: #303e54;
$light-secondary: #a99ec7;
$light-accent: #725492;
